
h1{ /* This block of code is to stylize the heading*/
    display: block;
    color: white;
    font-family: Tahoma, sans-serif;
    text-align: center;
    background-color: green;
    margin-right: 600px;
    margin-left: 600px;
    margin-top: 200px;
    padding: 30px;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 10px 10px 10px black;
}

.bg{ /* This class is to stylize the block of the content */
    display: block;
    text-align: center;
    background-color: whitesmoke;
    margin-top: 1px;
    margin-right: 600px;
    margin-left: 600px;
    padding: 30px;
    padding-bottom: 30px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 10px 10px 10px black;
}

.bgimg{ /*This class is to stylize the background image which is the gas station, alongisde an effect to blur the image.*/
    background-image: url("bgimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

img{/* To add an effect to the image.*/
    filter: blur(5px);
}

.tt{ /*This is to stylize the text boxes, the ones in which the values are inputted.*/
    display: inline-block;
    color: black;
    font-family: Tahoma, sans-serif;
    text-align: center;
}

.button{ /*This is to stylize the button for calculation*/
    margin-top: 10px;
    text-align: center;
}

.tcdisplay{ /*This is to stylize the display of the total cost.*/
    font-family: Tahoma, sans-serif;
    font-size: larger;
}

label{ /*This is to align each text box, all of which are under labels.*/
    margin-bottom: 10px;
    margin-top: 20px;
}

input:hover{ /*This changes the color of the input box when hovered over with the mouse.*/
    color: white;
    background-color: green;
}

button:hover{ /*This changes the button color when hovered over.*/
    background-color: green;
    color: white;
}